<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Me</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href={% static "Css/account.css" %}>
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">
            <a href="{% url "discover" %}">You Me</a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url "discover" %}"><i class="fas fa-compass"></i> Discover</a></li>
            <li><a href="{% url "likes-profiles" %}"><i class="fas fa-heart"></i> Likes</a></li>
            <li><a href="#"><i class="fas fa-envelope"></i> Messages</a></li>
        </ul>
    
        <div class="profile">
            {% if user.is_authenticated %}
                <img src="{{ user_profile.profile_image.url }}" alt="Profile Image" class="profile-img" id="profileImg">
            {% else %}
                <img src="{% static 'path/to/default-image.jpg' %}" alt="Default Profile Image" class="profile-img" id="profileImg">
            {% endif %}
    
            <div class="dropdown-menu" id="dropdownMenu">
                <a href="#" class="dropdown-item"><i class="fas fa-user"></i> Profile</a>
                <a href="#" class="dropdown-item"><i class="fas fa-cog"></i> Settings</a>
                <a href="#" class="dropdown-item"><i class="fas fa-sliders-h"></i> Preferences</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
        </div>
    </nav>
    
    
        {% block content %}

        
        {% endblock content %}


    <script>
        const profileImg = document.getElementById('profileImg');
        const dropdownMenu = document.getElementById('dropdownMenu');

        profileImg.addEventListener('click', () => {
            dropdownMenu.classList.toggle('show');
        });

        // Close the dropdown if clicked outside
        window.addEventListener('click', (event) => {
            if (!profileImg.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.classList.remove('show');
            }
        });
    </script>

</body>