* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
}

/* Styling navigation bar */
.nav-bar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101728;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Styling logo */
.logo a {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block; /* Ensures only the text has the background */
    padding: 5px 10px;
    border-radius: 5px; /* Optional: adds rounded corners */
    transition: color 0.3s, background-color 0.3s;
}



.logo a:hover {
    color: #9340ff;
}

/* Styling navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

/* Hover effect on navigation links */
.nav-links a:hover {
    background-color: #9340ff;
}

/* Styling profile image */
.profile {
    position: relative;
    display: flex;
    align-items: center;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.profile-img:hover {
    transform: scale(1.1);
}
/* Add some spacing between icons and text */
.nav-links a i {
    margin-right: 8px;
}


h6 {
    color: white;
    font-size: 15px;
    margin: 5px;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #101728;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.1);
    overflow: hidden;
    z-index: 10;
    min-width: 150px;
}

.show {
    display: block;
}


.dropdown-item {
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #9340ff;
}
